<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link th:href="@{/css/bundle.css}" rel="stylesheet"/>
    <script defer th:src="@{/js/bundle-search.js}"></script>
    <script defer th:src="@{/js/bundle-main.js}"></script>
    <script defer th:src="@{/js/bundle-site.js}"></script>
    <script defer th:src="@{/js/bundle-detailspage.js}"></script>
</head>
<body>

</body>
</html>