<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <div th:fragment="login">
        <!-- The Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <section id="contact" class="contact">
                    <span class="close">X</span>
                    <div class="container" data-aos="fade-up">
<!--                        <form th:action="@{/login}" th:method="post" th:object="${loginInfo}">-->
<!--                            <div class="mb-3">-->
<!--                                <label for="username">Username</label>-->
<!--                                <input id="username" type="text" th:field="*{username}" class="form-control"/>-->
<!--                            </div>-->
<!--                            <div class="mb-3">-->
<!--                                <label for="password">Password</label>-->
<!--                                <input id="password" type="password" th:field="*{password}" class="form-control"/>-->
<!--                            </div>-->
<!--                            <button type="submit" class="btn btn-primary">Log in</button>-->
<!--                        </form>-->
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
</body>
</html>