<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cars Expo</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div id="jumbo" class="bg-light p-5 rounded-lg m-3">
        <div class="indexcontent">
        <h1 class="display-4" th:utext="#{title}">Luxury, Safety</h1>
            <p class="lead" th:utext="#{home.intro}">We get the best, we serve the best, eventually to the best...</p>
            <a class="indexbtn btn btn-primary btn-lg" th:href="@{/cars}" role="button" th:utext="#{learn}">Learn more</a>
        </div>
    </div>
</div>
<!--    <a th:href="@{/cars/add}"></a>-->
</body>
</html>